body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Heller Hintergrund */
  color: #333; /* Dunkle Schriftfarbe */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-board {
  background-color: white; /* Weißer Hintergrund für das Spielbrett */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h1 {
  color: #000; /* Schwarze Überschrift */
}

h2 {
  color: #000; /* Schwarze Schriftfarbe für die Computerwahl */
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #000; /* Schwarze Schaltfläche */
  color: white; /* Weiße Schriftfarbe */
  transition: background-color 0.3s ease; /* Sanfter Übergang */
}

button:hover {
  background-color: #444; /* Dunklerer Blauton beim Hover */
}

.reset-button {
  background-color: #dc3545; /* Rote Schaltfläche für "Play Again" */
}

.reset-button:hover {
  background-color: #c82333; /* Dunklerer Rotton beim Hover */
}

.icon-large {
  font-size: 2rem; /* Größe der Icons anpassen */
}
.icon-container {
  display: inline-flex; /* Damit die Icons nebeneinander angezeigt werden */
  justify-content: center;
  align-items: center;
  width: 100px; /* Breite des quadratischen Containers */
  height: 100px; /* Höhe des quadratischen Containers */
  border: 2px solid #000; /* Schwarzer Rand */
  border-radius: 10px; /* Abgerundete Ecken */
  background-color: #fff; /* Weißer Hintergrund */
  margin: 10px; /* Abstand zwischen den Containern */
}

.icon-large {
  font-size: 2rem; /* Größe der Icons anpassen */
}